<br>
<br>
<div class="latestWork">
	<h2>LATEST WORK</h2>
	<div class="wrap">
		<div class="item item1">
			<div class="img-wrap">
				<a href="https://github.com/wkeiss/LearnWebDevelopment/blob/master/css_challenge/css_challenge2.html"><img src="../assets/images/works/work2.jpg"></a>
			</div>
			<div class="description" align="center">
				<p> A static site</p>
				<p>HTML, CSS</p>
			</div>
		</div>
		<div class="item item2">
			<div class="img-wrap">
				<a href="https://github.com/wkeiss/LearnWebDevelopment/blob/master/css_challenge/css_challenge5.html"><img src="../assets/images/works/work3.jpg"></a>
			</div>
			<div class="description" align="center">
				<p> A static site</p>
				<p>HTML, CSS</p>
			</div>
		</div>
		<div class="item item3">
			<div class="img-wrap">
				<a href="https://github.com/wkeiss/lonelyisland"><img src="../assets/images/works/work4.gif"></a>
			</div>
			<div class="description" align="center">
				<p><a href="https://lonelyislandcindy.herokuapp.com/">A Web Application</a></p>
				<p>Django, HTML, CSS</p>
			</div>
		</div>
		<div class="item item5">
			<div class="img-wrap">
				<a href="https://github.com/wkeiss/LearnWebDevelopment/tree/master/timer"><img src="../assets/images/works/work5.jpg"></a>
			</div>
		
			<div class="description" align="center">
				<p> A static site</p>
				<p>HTML, CSS, JavaScript</p>
			</div>
		</div>
		<div class="item item4">
			<div class="img-wrap">
				<a href="https://github.com/wkeiss/LearnWebDevelopment/tree/master/1st_React_App"><img src="../assets/images/works/work4.jpg"></a>
			</div>
		
			<div class="description" align="center">
				<p><a href="https://timercindy.netlify.app/"> A static site</a></p>
				<p>React</p>
			</div>
		</div>
	</div>
</div>