<br>
<br>
<div class="latestworkr">
	<div class="header">
		<h2>LATEST WORK</h2>
	</div>
	<div class="wrap">
		<div class="item item1">
			<div class="img-wrap">
				<img src="../assets/images/works/work1.jpg">
				<div class= "overlay">
					<button><a href="images/portfolio/item-1.jpg" alt="item1 picture" class="imgLink">Demo</a></button>
					<button><a href="#latestwork" alt="blog">Details</a></button>
				</div>
			</div>
		
			<div class="description">
				<h3>Dew Drop</h3>
				<p>Redesigne UI Concept</p>
			</div>
		</div>
		<div class="item item2">
			<div class="img-wrap">
				<img src="../assets/images/works/work2.jpg">
				<div class= "overlay">
					<button><a href="images/portfolio/item-2.jpg" alt="item2 picture" class="imgLink">Demo</a></button>
					<button><a href="#latestwork" alt="blog">Details</a></button>
				</div>
			</div>
			<div class="description">
				<h3>Bottlle Mockuo</h3>
				<p>Lorem ipsum dolor sit.</p>
			</div>
		</div>
		<div class="item item3">
			<div class="img-wrap">
				<img src="../assets/images/works/work3.jpg">
				<div class= "overlay">
					<button><a href="images/portfolio/item-2.jpg" alt="item3 picture" class="imgLink">Demo</a></button>
					<button><a href="#latestwork" alt="blog">Details</a></button>
				</div>
			</div>
			<div class="description">
				<h3>Table Desigh</h3>
				<p>Lorem ipsum dolor sit.</p>
			</div>
		</div>
		<div class="item item4">
			<div class="img-wrap">
				<img src="../assets/images/works/work4.gif">
				<div class= "overlay">
					<button><a href="images/portfolio/item-4.jpg" alt="item4 picture" class="imgLink">Demo</a></button>
					<button><a href="#latestwork" alt="blog">Details</a></button>
				</div>
			</div>
			<div class="description">
				<h3>Make Up elements</h3>
				<p>Lorem ipsum dolor sit.</p>
			</div>
		</div>
	</div>
</div>