<br>
<br>
<div class="latestWork">
	<h2>LATEST WORK</h2>
	<div class="wrap">
		<div class="item item1">
			<figure class="img-wrap">
				<a href="https://github.com/wkeiss/LearnWebDevelopment/blob/master/css_challenge/css_challenge2.html"><img src="../assets/images/works/work1.jpg"></a>
				<figcaption><b>A static site | HTML, CSS</b></figcaption>
			</figure>
		</div>
		<div class="item item2">
			<figure class="img-wrap">
				<a href="https://github.com/wkeiss/LearnWebDevelopment/blob/master/css_challenge/css_challenge5.html"><img src="../assets/images/works/work2.jpg"></a>
				<figcaption><b>A static site | HTML, CSS</b></figcaption>
			</figure>
		</div>
		<div class="item item3">
			<figure class="img-wrap">
				<a href="https://github.com/wkeiss/lonelyisland"><img src="../assets/images/works/work3.gif"></a>
				<figcaption><b>A Web Application | Django, HTML, CSS | Responsive Design |<a href="https://lonelyislandcindy.herokuapp.com/">Demo</a></b></figcaption>
			</figure>
		</div>
		<div class="item item5">
			<figure class="img-wrap">
				<a href="https://github.com/wkeiss/LearnWebDevelopment/tree/master/timer"><img src="../assets/images/works/work5.jpg"></a>
				<figcaption><b>Static Site | HTML, CSS, JavaScript | Responsive Design |<a href="https://timercindy.netlify.app/"> Demo </a></b></figcaption>
			</figure>
		</div>
		<div class="item item4">
			<figure class="img-wrap" >
				<a href="https://github.com/wkeiss/LearnWebDevelopment/tree/master/1st_React_App"><img src="../assets/images/works/work4.jpg"></a>
				<figcaption><b>Static Site | React | Responsive Design</b></figcaption>
			</figure> 
		</div>
	</div>
</div>